body{
    background-size: cover;
}

#heading{
 width: 100%;
 font-size: 20px;
 margin-top: 0;
}

.copy_right_footer{
    bottom: 0;
    position: fixed;
    width: 100%;
    color: blue;
    background-color: whitesmoke;
    text-align: center;
    line-height: 3;
}

canvas{
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 130px;
    box-shadow: 5px 5px 5px white;
}